*{  
  
margin: 0;
}
@font-face {
    font-family: sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=greek-ext');
  }

.header{

  background-image: linear-gradient(to right, rgba(31, 239, 247, 0.3), rgb(214, 175, 47,0.2)),url("cover.jpg");
  height: 80vh;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);/* bottom end 90*/
  background-position: top;  
  position: relative;
}


.header-text-box{
  position: relative;
  text-align: center;  
  left:50%;
  top:50%;
  transform: translate(-50% , -50%);
  

}


.header-text-box-main{

  
  color: azure;
  display: block;
  font-size: 3rem; 
  letter-spacing: 1rem;
  animation-name: maintext;
  animation-duration: 5s;


}


.header-text-box-sub{
  

  color: azure;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  animation-name: subtext;
  animation-duration: 5s;
  
}

.button{


  letter-spacing: 0.5rem;
  font-size: 1rem;
  padding: 1rem  3rem; 
  background-color: rgb(91, 195, 199);
  border-radius: 2rem;
 
  
}

@keyframes maintext{

  0%{
    transform:translateX(-20%);
    display: none;
    opacity: 0;
  }
  80%{transform: translateX(20%)}
  100%{transform: translateX(0%)}

}

@keyframes subtext{
  
  0%{
    transform:translateX(20%);
    display :none;
    opacity: 0;
  }
  80%{transform: translateX(-20%)}
  100%{transform: translateX(0%)}

}

